<div class="span12">
  <div class="row-fluid">
    <div class="span9">
      <table class="table table-bordered" id="main-table">
      <% if params[:track] %>
        <thead>
          <th class="table-day">Day/Date</th>
          <th><%= params[:track] %></th>
        </thead>
        <% @semester.days.each do |day| %>
          <%= create_modals day.lessons, @semester %>  
          <tr>
            <td class="table-day">Day <%= day.day_value %> | <%= day.date.strftime("%Y-%m-%d") %></td>
            <td><%= display_classes day.lessons, @track %></td>
          </tr>
        <% end %>      
      <% else %>  
        <thead>
          <th class="table-day">Day/Date</th>
          <% @tracks.each do |track| %>
          <th><%= track.name %></th>
          <% end %>
        </thead>
        <% @semester.days.each do |day| %>  
          <%= create_modals day.lessons, @semester %>
          <tr>
            <td class="table-day">Day <%= day.day_value %> | <%= day.date.strftime("%Y-%m-%d") %></td>
            <% @tracks.each do |track| %>
              <td><%= display_classes day.lessons, track %></td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
      </table>
    </div>
    <div class="span3">
      <div class="sidebar-nav well">
        <ul>
          <% current_user.interested_in_teaching.each do |lesson| %>
          <li id="user_lesson_<%= lesson.id %>">
            <%= link_to lesson.title, [@semester, lesson] %> | 
            <%= link_to "Withdraw Interest", signup_path(lesson), 
              method: :delete, confirm: "Are you sure?", remote: true %>
          </li>
          <% end %>
        
        </ul>
      </div>
    </div>
  </div>
</div>

