<div class="span12">
  <div class="row-fluid">
    <table class="table table-bordered" id="main-table">
    <% if params[:track] %>
      <thead>
        <th class="table-day">Day/Date</th>
        <th><%= params[:track] %></th>
      </thead>
      <% @semester.days.each do |day| %>
        <%= create_modals day.lessons, @semester %>  
        <tr>
          <td class="table-day">Day <%= day.day_value %> | <%= day.date.strftime("%Y-%m-%d") %></td>
          <td><%= display_classes day.lessons, @track %></td>
        </tr>
      <% end %>      
    <% else %>  
      <thead>
        <th class="table-day">Day/Date</th>
        <% @tracks.each do |track| %>
        <th><%= track.name %></th>
        <% end %>
      </thead>
      <% @semester.days.each do |day| %>  
        <%= create_modals day.lessons, @semester %>
        <tr>
          <td class="table-day">Day <%= day.day_value %> | <%= day.date.strftime("%Y-%m-%d") %></td>
          <% @tracks.each do |track| %>
            <td><%= display_classes day.lessons, track %></td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
    </table>
  </div>
</div>

