<li id="objective_<%= objective.id %>">
  <%= raw Rinku.auto_link(objective.objective) %> | 
<%= link_to "delete", admin_lesson_template_objective_path(objective.lesson_template, 
  objective), method: :delete, confirm: "Sure?", remote: true %> 
<%= decrement_link "objective", objective.id, objective.lesson_template.id %> 
<%= increment_link "objective", objective.id, objective.lesson_template.id %> 
</li>