<li id="period_li_<%= period.id %>">
  <strong>Period: <%= period.to_s %></strong>
  <%= decrement_link "period", period.id, period.lesson_template.id %> 
  <%= increment_link "period", period.id, period.lesson_template.id %>  | 
  <%= link_to "delete", [:admin, period.lesson_template, period], method: :delete, 
    confirm: "Sure?", remote: true %> | 
  <%= link_to "add activity", new_admin_period_activity_path(period), 
    id: "period_#{period.id}", remote: true %>
  <ul id="activities">
    <%= render period.activities %>
  </ul>  
</li>