<div class="span8">
  <h1><%= @lesson_template.title %> | <%= track_names @lesson_template %> | 
    <%= link_to "Edit", [:edit, :admin, @lesson_template] %></h1>
  <div class="row-fluid">
    <div class="span4">
      <h3>Overview</h3>
      <p><%= @lesson_template.overview %></p>
      <h3>Objectives</h3>
      <ul>
        <% @lesson_template.objectives.each do |objective| %>
          <li><%= objective.objective %></li>
        <% end %>
      </ul>
    </div>
    <div class="span4">
      <h1>Images</h1>
      <h1>Course work</h1>
    </div>
  </div>
</div>
<div class="span4">
  <div class="well sidebar-nav">
    <h3><%= @lesson_template.start_time %> - <%= @lesson_template.end_time %></h3>
    <ul>
    <% @lesson_template.periods.each do |period| %>
      <%= render period %>    
    <% end %>
    </ul>
  </div><!--/.well -->
</div><!--/span-->