<%= link_to "Manage Tracks", '#' %><br>
<%= link_to "Manage Lessons", admin_lessons_path %><br>
<%= link_to "Manage Days", '#' %><br>


<table class="table table-bordered">
  <thead>
    <th></th>
    <th>Development</th>
    <th>Product</th>
    <th>Sales</th>
    <th>Marketing</th>
  </thead>
  <% @semester.lesson_days.each do |lesson_day| %>
    <tr>
      <td>Day <%= lesson_day.day_value %></td>
      <td><%= lesson_or_create_link(lesson_day, 1) %></td>
      <td><%= lesson_or_create_link(lesson_day, 2) %></td>
      <td><%= lesson_or_create_link(lesson_day, 3) %></td>
      <td><%= lesson_or_create_link(lesson_day, 4) %></td>
    </tr>  
  <% end %>
</table>

