<%= content_for(:header) do %>
  <h1>Edit: <%= @lesson.title %> <strong>Day <%= @lesson.day.day_value %></strong> 
   <%= link_to "(View)", [:admin, @lesson] %></h1>
<% end %>

<div class="row-fluid">
  <div class="span6">
    <div class="row-fluid">
      <div class="span12">
        <div class="widget-box">
          <div class="widget-title">
            <h5>Current Template Info</h5>
          </div>
          <div class="widget-content nopadding">
            <%= simple_form_for [:admin, @lesson], 
              html: { class: "form-horizontal" }, remote: true do |f| %>
              <%= f.input :start_time, collection: Lesson::VALID_TIMES, 
                include_blank: false %>
              <%= f.input :end_time, collection: Lesson::VALID_TIMES, 
                include_blank: false %>
              <%= f.input :title %>
              <%= f.input :overview, input_html: { rows: 13 } %>
              <%= f.association :tracks, value: Track.all %>
              <%= f.button :wrapped_button, "Update" %>
            <% end %>
          </div>
        </div>
      </div>
      <div class="span12">
        <div class="widget-box">
          <div class="widget-title">
            <h5>Manage Attachments</h5>
          </div>
          <div class="widget-content nopadding">
            <%= simple_form_for [:admin, @lesson, Attachment.new], 
              html: { class: "form-horizontal"} do |f| %>
              <%= f.input :document, as: :file, label: "Upload Attachment" %>
              <%= f.button :wrapped_button %>
            <% end %>
            <ul id="attachments">
              <%= render @lesson.attachments %>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="span12">
      <div class="widget-box">
        <div class="widget-title">
          <h5>Manage Images</h5>
        </div>
        <div class="widget-content nopadding">
          <%= simple_form_for [:admin, @lesson, Image.new],
            html: { class: "form-horizontal"} do |f| %>
            <%= f.input :picture, as: :file, label: "Upload an image" %>
            <%= f.button :wrapped_button %>
          <% end %>
          <ul id="images">
            <%= render @lesson.images %>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="span6">
    <div class="row-fluid">
      <div class="span12">
        <div class="widget-box">
          <div class="widget-title">
            <h5>Assign User to Class</h5>
          </div>
          <div class="widget-content">
            <% if @lesson.teachers.any? %>
            <h3>Lesson Teachers</h3>
            <ul id="teachers" class="site-stats">
              <% @lesson.teachers.each do |lesson_user| %>
                <li>
                  <%= image_tag lesson_user.user.image.picture.url(:thumb) if 
                    lesson_user.user.image %>
                  <%= link_to lesson_user.user.name, [:admin, lesson_user.user] %> 
                  <%= lesson_user.user.email %>
                </li>
              <% end %>
            </ul><hr>
            <% else %>
              <h3>No Teachers Assigned Yet</h3><hr>
            <% end %>
            <%= form_tag '/admin/signups', html: { class: "form-horizontal" } do %>
              <%= hidden_field_tag 'lesson_id', @lesson.id %>
              <%= select_tag "user_id", 
                options_from_collection_for_select(User.ordered_by_name, 'id', 'to_s') %>
              <%= submit_tag %>
            <% end %>
          </div>
        </div>
        <div class="widget-box">
          <div class="widget-title">
            <h5>Add Periods</h5>
          </div>
          <div class="widget-content">
            <%= simple_form_for [:admin, @lesson, Period.new], 
              html: { class: "form-horizontal" },remote: true do |f| %>
              <%= f.input :start_time, collection: Period::VALID_TIMES, include_blank: false %>      
              <%= f.input :end_time, collection: Period::VALID_TIMES, include_blank: false %>
              <%= f.button :wrapped_button, "Create time period" %>
            <% end %>
            <div id="periods">
              <ul class="site-stats">
                <% @lesson.periods.each do |period| %>
                  <%= render 'admin/periods/new_activity_link', period: period %>
                <% end %>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="widget-box">
        <div class="widget-title">
          <h5>Add Objectives</h5>
        </div>
        <div class="widget-content">
          <%= simple_form_for [:admin, @lesson, Objective.new], 
              html: { class: "form-horizontal" }, remote: true do |f| %>
            <%= f.input :objective %>
            <%= f.button :wrapped_button %>
          <% end %>
          <ul id="objectives" class="site-stats">
            <%= render @lesson.objectives %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
