<%= content_for(:header) do %>
  <h1><%= @lesson.title %> <strong>Day <%= @lesson.lesson_template.day_value %></strong>
  ( <%= track_names @lesson %>) 
  <%= link_to "Edit", edit_admin_lesson_path(@lesson) %>
  </h1>
<% end %>

<div class="widget-box">
  <div class="widget-title">
    <h5>Current Template</h5>
  </div>
  <div class="widget-content">
    <div class="row-fluid">
      <div class="span6 well">
        <% if @lesson.teachers.any? %>
          <h3>Lesson Teachers</h3>
        <ul id="teachers" class="site-stats">
          <% @lesson.teachers.each do |lesson_user| %>
            <li>
              <%= image_tag lesson_user.user.image.picture.url(:thumb) if 
                lesson_user.user.image %>
              <%= link_to lesson_user.user.name, [:admin, lesson_user.user] %> 
              <%= lesson_user.user.email %>
            </li>
          <% end %>
        </ul><hr>
        <% else %>
          <h3>No Teachers Assigned Yet</h3><hr>
        <% end %>
        <h3>High Level Overview</h3>
        <p><%= @lesson.overview %></p>

        <h3>Objectives</h3>
        <h5>At the end of the day, students should be able to</h5>
        <ul id="objectives" class="site-stats">
          <%= render @lesson.objectives %>
        </ul>
      </div>
      <div class="span6 well">
        <div id="periods">
          <h3>Schedule <%= @lesson.start_time %> - <%= @lesson.end_time %></h3>
          <ul>
            <% @lesson.periods.each do |period| %>
              <%= render 'admin/periods/new_activity_link', period: period %>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="widget-box">
  <div class="widget-title">
    <h5>Attachments and Images</h5>
  </div>
  <div class="widget-content">
    <div class="row-fluid">
      <div class="span4 well">
        <h3>Attachments</h3>
        <ul id="attachments" class="site-stats">
          <%= render @lesson.attachments %>
        </ul>
      </div>
      <div class="span8 well">
        <h3>Images</h3>
        <ul class="thumbnails">
          <% @lesson.images.each do |image| %>
          <li class="span2">
            <%= image_tag image.picture.url(:large) %>
          </li>
          <% end %>
        </ul>
      </div>
    </div>
  </div>
</div>