<%= content_for(:header) do %>
  <h1><%= @lesson.title %> <strong>Day <%= @lesson.day.day_value %></strong>
  ( <%= track_names @lesson %>) 
  <%= link_to "Edit", edit_admin_lesson_path(@lesson) %>
  </h1>
<% end %>

<div class="widget-box">
  <div class="widget-title">
    <h5>
      <%= @lesson.day.date.strftime("%Y-%m-%d") %> | 
      <%= @lesson.day.semester.to_s %> | 
      <%= track_names @lesson %>
    </h5>
  </div>
  <div class="widget-content">
    <div class="row-fluid">
      <div class="span6 well">
        <% if @lesson.teachers.any? %>
          <h3>Lesson Teachers</h3>
        <ul id="teachers" class="site-stats">
          <% @lesson.teachers.each do |lesson_user| %>
            <li>
              <%= image_tag lesson_user.user.image.picture.url(:thumb) if 
                lesson_user.user.image %>
              <%= link_to lesson_user.user.name, [:admin, lesson_user.user] %> 
              <%= lesson_user.user.email %>
            </li>
          <% end %>
        </ul><hr>
        <% else %>
          <h3>No Teachers Assigned Yet</h3><hr>
        <% end %>
        <h3>High Level Overview</h3>
        <p><%= @lesson.overview %></p><hr>

        <h3>Objectives</h3>
        <h5>At the end of the day, students should be able to</h5>
        <ul id="objectives" class="site-stats">
         <% @lesson.objectives.each do |objective| %>
           <li><%= raw Rinku.auto_link(objective.objective) %></li>
         <% end %>
        </ul><hr>
        <h3>Attachments</h3>
        <ul id="attachments" class="site-stats">
          <% @lesson.attachments.each do |attachment| %>
            <li><%= link_to attachment.document_file_name, attachment.document.url %></li>
          <% end %>
        </ul><hr>
        <h3>Images</h3>
        <ul class="thumbnails">
          <% @lesson.images.each do |image| %>
          <li class="span2">
            <%= image_tag image.picture.url(:large) %>
          </li>
          <% end %>
        </ul>
      </div>
      <div class="span6 well">
        <div id="periods">
          <h3>Schedule <%= @lesson.start_time %> - <%= @lesson.end_time %></h3>
          <ul>
            <% @lesson.periods.each do |period| %>
              <li>
                <strong>Period: <%= period.to_s %></strong>
                <ul id="activities">
                  <% period.activities.each do |activity| %>
                    <li><%= raw Rinku.auto_link(activity.activity) %>
                      <ul id="list-items">
                        <% activity.activity_list_items.each do |list_item| %>
                          <li><%= raw Rinku.auto_link(list_item.list_item) %></li>
                        <% end %>
                      </ul>
                    </li>
                  <% end %>
                </ul>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>