<%= content_for(:header) do %>
  <h1>Create New Semester</h1>
<% end %>

<div class="widget-box">
  <div class="widget-title">
    <h5>Create New Semester</h5>
  </div>
  <div class="widget-content nopadding">
    <%= simple_form_for [:admin, Semester.new], html: { class: "form-horizontal" } do |f| %>
      <%= f.input :name %>
      <%= f.input :city %>
      <%= f.input :location %>
      <%= f.input :start_date, as: :string, :input_html => { :class => 'jquery-ui-date'} %>
      <%= f.input :start_date, :as => :hidden, :input_html => { :id => 'recorded-at-alt'} %>
      <%= f.input :end_date, as: :string, :input_html => { :class => 'jquery-ui-end'} %>
      <%= f.input :end_date, :as => :hidden, :input_html => { :id => 'recorded-at-end'} %>  
      <%= f.input :public %>
      <%= f.button :wrapped_button, "Submit" %>
    <% end %>

  </div>
</div>
