<h1><%= @semester.name %> | <%= @semester.location %>
<small><%= link_to "Edit", edit_admin_semester_path(@semester) %></small>
</h1>

<%= link_to "Add new lesson", new_admin_semester_lesson_path(@semester) %><br>


<%= link_to "Back", admin_semesters_path %>

<div class="row-fluid">
  <div class="row-fluid">
    <table class="table">
      <thead>
        <th>Day/Date</th>
        <th>Development</th>
        <th>Product</th>
        <th>Marketing</th>
        <th>Sales</th>
      </thead>
    <% @semester.days.each do |day| %>  
      <tr id="day_<%= day.id %>">
        <td>Day <%= day.day_value %> | <%= day.date.strftime("%Y-%m-%d") %>
        | <%= link_to "edit", [:edit, :admin, @semester, day] %> | 
         <%= link_to "delete", [:admin, @semester, day], method: :delete,
             confirm: "Are you sure?", remote: true %></td>
        <td><%= admin_display_classes day.lessons, @development, @semester %></td>
        <td><%= admin_display_classes day.lessons, @product, @semester %></td>
        <td><%= admin_display_classes day.lessons, @marketing, @semester %></td>
        <td><%= admin_display_classes day.lessons, @sales, @semester %></td>
      </tr>
    <% end %>
    </table>
  </div>
</div>