<%= content_for :header do %>
  <h1>
    <%= @semester.name %> | <%= @semester.location %> 
    <%= @semester.public? ? "(Public)" : "(Private)" %>
    <small><%= link_to "Edit", edit_admin_semester_path(@semester) %></small>
  </h1>
<% end %>

<h3>Creating days will prepopulate the date with lessons 
  cloned from templates marked as default</h3>

<%= simple_form_for [:admin, @semester, Day.new] do |f| %>
  <%= f.input :day_value %>
  <%= f.input :date, as: :string, :input_html => { :class => 'jquery-ui-date'} %>
  <%= f.input :date, :as => :hidden, :input_html => { :id => 'recorded-at-alt'} %>
  <%= f.button :submit %>
<% end %>

<%= link_to "Create New Templates", new_admin_lesson_template_path %><br>
<%= link_to "Back", admin_semesters_path %>

<div class="row-fluid">
  <div class="row-fluid">
    <table class="table">
      <thead>
        <th>Day/Date</th>
        <th>Development</th>
        <th>Product</th>
        <th>Marketing</th>
        <th>Sales</th>
      </thead>
    <% @semester.days.each do |day| %>  
      <tr id="day_<%= day.id %>">
        <td>Day <%= day.day_value %> | <%= day.date.strftime("%Y-%m-%d") %>
        | <%= link_to "edit", [:edit, :admin, @semester, day] %> | 
         <%= link_to "delete", [:admin, @semester, day], method: :delete,
             confirm: "Are you sure?", remote: true %></td>
        <td><%= admin_display_classes day.lessons, @development, @semester %></td>
        <td><%= admin_display_classes day.lessons, @product, @semester %></td>
        <td><%= admin_display_classes day.lessons, @marketing, @semester %></td>
        <td><%= admin_display_classes day.lessons, @sales, @semester %></td>
      </tr>
    <% end %>
    </table>
  </div>
</div>