<div class="span12">
  <div class="row-fluid">
    <div class="span4">
      <div class="hero-unit">
        <h1>Sign up for classes here</h1>
      </div>
    </div>
    <div class="span7">
      <div class="hero-unit">
        <h1><%= @semester.name %> | <%= @semester.location %></h1>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <table class="table">
      <thead>
        <th>Day/Date</th>
        <th>Development</th>
        <th>Product</th>
        <th>Marketing</th>
        <th>Sales</th>
      </thead>
    <% @semester.days.each do |day| %>  
      <%#= create_modal day.lessons %>
      <tr>
        <td>Day <%= day.day_value %> | <%= day.date.strftime("%Y-%m-%d") %></td>
        <td><%= display_classes day.lessons, @development %></td>
        <td><%= display_classes day.lessons, @product %></td>
        <td><%= display_classes day.lessons, @marketing %></td>
        <td><%= display_classes day.lessons, @sales %></td>
      </tr>
    <% end %>
    </table>
  </div>
</div>



