<div class="span12">
  <div class="row-fluid">
    <div class="span4">
      <div class="hero-unit">
        <h4>Signed up to teach:</h4>
        <ul>
        <% current_user.lessons.each do |lesson| %>
          <li id="user_lesson_<%= lesson.id %>">
            <%= link_to "#{lesson.summary} #{lesson.dates_by_semester(@semester)}", [@semester, lesson] %> | 
            <%= link_to "withdraw", signup_path(lesson), method: :delete,
              confirm: "Are you sure?", remote: true %>
          </li>
        <% end %>
        </ul>
      </div>
    </div>
    <div class="span7">
      <div class="hero-unit">
        <h1><%= @semester.name %> | <%= @semester.location %></h1>
      </div>
    </div>
  </div>
  <div class="row-fluid">
    <table class="table table-bordered" id="main-table">
      <thead>
        <th class="table-day">Day/Date</th>
        <th>Development</th>
        <th>Product</th>
        <th>Marketing</th>
        <th>Sales</th>
      </thead>
    <% @semester.days.each do |day| %>  
      <%= create_modals day.lessons, @semester %>
      <tr>
        <td class="table-day">Day <%= day.day_value %> | <%= day.date.strftime("%Y-%m-%d") %></td>
        <td><%= display_classes day.lessons, @development %></td>
        <td><%= display_classes day.lessons, @product %></td>
        <td><%= display_classes day.lessons, @marketing %></td>
        <td><%= display_classes day.lessons, @sales %></td>
      </tr>
    <% end %>
    </table>
  </div>
</div>



