<div class="span12">
  <h1><%= @lesson.summary %> | <%= @semester.name %> <%= @semester.location %></h1>
</div>
<div class="row-fluid">
  <div class="span8">
    <div class="row-fluid">
      <div class="span6">
        <h4>Overview:</h4>
        <div id="overview">
          <ul>
            <li>Overview 1</li>
            <li>Overview 2</li>
            <li>Overview 3</li>
          </ul>
        </div>
        <h4>Objectives</h4>
        <div id="objectives">
          <p>At the end of the day students will be able to do the following: </p>
          <ul>
            <li>Objective 1</li>
            <li>Objective 2</li>
            <li>Objective 3</li>
            <li>Objective 4</li>
            <li>Objective 5</li>
            <li>Objective 6</li>
          </ul>
        </div>
        <div id="schedule">
          <h3>Schedule for the day</h3>
          <ul class="time">
            <li>9AM-10AM : What we're doing here</li>
            <li>10AM-11AM : And here</li>
            <li>11AM-12PM</li>
            <li>1PM-2PM</li>
            <li>2PM-3PM</li>
            <li>3PM-4PM</li>
            <li>4PM-5PM</li>
          </ul>
        </div>
      </div>
      <div class="span6">
        <h3>Previous Instructors</h3>
        <ul>
          <li>User 1 + link to social networking</li>
          <li>User 2 + ""</li>
          <li>User 3 + ""</li>
        </ul>
        <h3>Students will learn these real world skills:</h3>
        <ul>
          <li>Kicking Ass</li>
          <li>Ninjitsu</li>
          <li>etc</li>
        </ul>
      </div>
    </div>
  </div>
  <div class="span4">
    <h3>Previous learning materials</h3>
    <% @lesson.attachments.each do |attachment| %>
      <%= link_to attachment.document_file_name, attachment.document.url %><br>
    <% end %>
    <h3>Previous student work</h3>
      <p>Placeholder for student work</p>
    <h3>Images (carasoul of some sort later)</h3>
    <% @lesson.images.each do |image| %>
      <%= image_tag image.picture.url %>
    <% end %>
  </div>
</div>