<li id="activity_<%= activity.id %>">
  <%= activity.activity %> 
  <%= decrement_link "activity", activity.id, activity.period.lesson_template.id %> 
  <%= increment_link "activity", activity.id, activity.period.lesson_template.id %> | 
  <%= link_to 'delete', [ :admin, activity.period, activity ],
    method: :delete, remote: true %>
</li>