<h2>Add new image</h2>
<%= link_to "Back to edit", [:edit, :admin, @semester, @lesson] %>

<%= simple_form_for [:admin, @semester, @lesson, Image.new] do |f| %>
  <%= f.input :image, as: :file, label: "Upload new image" %>
  <%= f.button :submit %>
<% end %>

<% @images.each do |image| %>
  <div id="image_<%= image.id %>">
  <%= image_tag image.picture.url %> | 
  <%= link_to "Delete Image", [:admin, @semester, @lesson, image], method: :delete,
    confirm: "Are you sure?", remote: true %>
  </div>
<% end %>