<% if params[:lesson_id] %>
  <h1>Users for <%= @lesson.summary %></h1>
  <ul>
    <% @users.each do |user| %>
      <li><%= link_to user.name, [:admin, user] %> | 
        <%= link_to user.company, admin_users_path(company: user.company) %> | 
        <%= admin_signups_link(user, @lesson) %></li>
    <% end %>
  </ul>
<% elsif params[:company] %>
  <h1>Users for <%= params[:company] %></h1>
  <ul>
    <% @users.each do |user| %>
      <li><%= link_to user.name, [:admin, user] %> | 
        <%= link_to user.company, admin_users_path(company: user.company) %>
      </li>  
    <% end %>
  </ul>  
<% else %>
  <h2>Create a new user</h2>

  <%= simple_form_for [:admin, User.new] do |f| %>
    <%= f.input :name %>
    <%= f.input :company %>
    <%= f.input :email %>
    <%= f.input :linked_in %>
    <%= f.input :facebook %>
    <%= f.input :twitter %>
    <%= f.button :submit, "Create User" %>
  <% end %>

  <% if @to_reinstitute.any? %>
  <h2>Users that have explicitly requested reauthorization:</h2>

  <ul>
    <% @to_reinstitute.each do |user| %>
      <li>
        <%= link_to user.name, user %>: 
        <%= link_to "Make Active", make_active_admin_user_path(user),
          method: :put, id: "user_#{user.id}", remote: true %>
      </li>
    <% end %>
  </ul>
  <% end %>

  <% if @inactive.any? %>

  <h2>Users that have expired:</h2>

  <ul>
    <% @inactive.each do |user| %>
      <li>
        <%= link_to user.name, user %>: 
        <%= link_to "Make Active", make_active_admin_user_path(user),
          method: :put, id: "user_#{user.id}", remote: true %>
      </li>
    <% end %>
  </ul>
  <% end %>
<% end %>
