<%= content_for(:header) do %>
  <h1>Manage Users</h1>
<% end %>


<%= form_tag admin_users_path, html: { class: 'form-horizontal' }, method: :get do %>
  <p>
    <%= text_field_tag :email_search, params[:email_search], 
      placeholder: "Enter Email Address" %>
    <%= submit_tag "Email Search", class: "btn btn-notice" %>
  </p>
<% end %>

<%= form_tag admin_users_path, html: { class: 'form-horizontal' }, method: :get do %>
  <p>
    <%= text_field_tag :name_search, params[:name_search], 
      placeholder: "Enter User Name" %>
    <%= submit_tag "Name Search", class: "btn btn-notice" %>
  </p>
<% end %>
<div class="row-fluid">
  <div class="span6">
    <div class="widget-title">
      <h5>Users</h5>
    </div>
    <div class="widget-content">
    <% if params[:lesson_id] %>
      <h1>Users for <%= @lesson.title %></h1>
      <ul>
        <% @users.each do |user| %>
          <li>
            <%= image_tag user.image.picture.url(:thumb) if user.image %>
            <%= link_to user.name, [:admin, user] %> | 
            <%= link_to user.company, admin_users_path(company: user.company) %> | 
            <%= admin_signups_link(user, @lesson) %></li>
        <% end %>
      </ul>
    <% elsif params[:company] %>
      <h1>Users for <%= params[:company] %></h1>
      <ul>
        <% @users.each do |user| %>
          <li>
            <%= image_tag user.image.picture.url(:thumb) if user.image %>
            <%= link_to user.name, [:admin, user] %> | 
            <%= link_to user.company, admin_users_path(company: user.company) %>
          </li>  
        <% end %>
      </ul>

    <% elsif params[:email_search] || params[:name_search] %>
      <h4>Search Results for 
        <%= params[:email_search] ? params[:email_search] : params[:name_search] %></h4>
      <% if @users.any? %>
        <ul class="site-stats">
        <% @users.each do |user| %>
          <li>
            <%= image_tag user.image.picture.url(:thumb) if user.image %>
            <%= link_to user.name, [:admin, user] %> |
              <%= link_to "(Edit)", edit_admin_user_path(user) %>
          </li>
        <% end %>
        </ul>
      <% else %>
        <h4>No Results: <%= link_to "Create New User With #{params[:user_search]}",
          new_admin_user_path(email: params[:user_search]) %></h4>
      <% end %>

    <% else %>

      <h1>All Users</h1>

      <ul>
      <%= will_paginate @users %>
        
      <% @users.each do |user| %>
        <li>
          <%= image_tag user.image.picture.url(:thumb) if user.image %>
          <%= link_to user.name, [:admin, user] %>, <%= user.email %> 
          <%= link_to "(edit)", [:edit, :admin, user] %></li>
      <% end %>
      </ul>
      
      <% if @to_reinstitute.any? %>
      <h2>Users that have explicitly requested reauthorization:</h2>

      <ul>
        <% @to_reinstitute.each do |user| %>
          <li>
            <%= image_tag user.image.picture.url(:thumb) if user.image %>
            <%= link_to user.name, user %>: 
            <%= link_to "Make Active", make_active_admin_user_path(user),
              method: :put, id: "user_#{user.id}", remote: true %>
          </li>
        <% end %>
      </ul>
      <% end %>

      <% if @inactive.any? %>

      <h2>Users that have expired:</h2>

      <ul>
        <% @inactive.each do |user| %>
          <li>
            <%= image_tag user.image.picture.url(:thumb) if user.image %>
            <%= link_to user.name, user %>: 
            <%= link_to "Make Active", make_active_admin_user_path(user),
              method: :put, id: "user_#{user.id}", remote: true %>
          </li>
        <% end %>
      </ul>
      <% end %>
    <% end %>
    </div>
  </div>
  <div class="span6">
    <div class="widget-title">
      <h5>New User</h5>
    </div>
    <div class="widget-content">
      <%= simple_form_for [:admin, @user], html: { class: "form-horizontal" } do |f| %>
        <%= render 'shared/error_explanation', object: @user %>
        <%= f.input :name %>
        <%= f.input :company %>
        <%= f.input :email, as: :string %>
        <%= f.association :tracks %>
        <%= f.input :description %>
        <%= f.input :linked_in %>
        <%= f.input :twitter, label: "Twitter Handle" %>
        <%= f.input :picture_url, label: "Picture Url (if picture isn't local)", as: :string %>
        <%= f.input :image, as: :file %>
        <%= f.button :wrapped_button, "Create User" %>
      <% end %>
    </div>
  </div>
</div>

