<%= content_for(:header) do %>
  <h1><%= @user.name %> <%= link_to "Edit", [:edit, :admin, @user] %></h1>
<% end %>

<div class="row-fluid">
  <div class="span8">
    <div class="widget-title">
      <h5><%= @user.name %></h5>
    </div>
    <div class="widget-content">
      <ul class="site-stats">
        <li><%= @user.email %></li>
        <li><%= link_to @user.company, admin_users_path(company: @user.company) %></li>
        <li><%= @user.linked_in.present? ? link_to("Linked In", @user.linked_in) : "No Linked In" %></li>
        <li><%= @user.twitter.present? ? link_to("Twitter", @user.twitter) : "No Twitter" %></li>
        <% if @user.description.present? %>
        <li><%= @user.description %></li>
        <% end %>
      </ul>
    </div>
  </div>
  <div class="span4">
    <div class="widget-title">
      <h5>Profile Picture</h5>
    </div>
    <div class="widget-content">
      <% if @user.image %>
        <%= image_tag @user.image.picture.url(:large) if @user.image %>
      <% else %>
        <%= simple_form_for [:admin, @user], html: { class: "form-horizontal" } do |f| %>
          <%= f.input :image, as: :file, label: "Upload an image" %>
          <%= f.button :wrapped_button %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
<div clsas="row-fluid">
  <div class="span8">
    <div class="widget-title">
      <h5>Currently Teaching</h5>
    </div>
    <div class="widget-content">
      <h3>Upcoming classes (CONFIRMED)</h3>
      <ul class="site-stats" id="confirmed">
      <% @user.teaching.each do |lesson_user| %>
        <%= confirmation_link lesson_user %>
      <% end %>
      </ul>
      <h3>Assigned (but not confirmed)</h3>
      <ul class="site-stats" id="assigned">
      <% @user.assigned_to_teach.each do |lesson_user| %>
        <%= confirmation_link lesson_user %>
      <% end %>
      </ul>
    </div>
  </div>
  <div class="span4">
    <div class="widget-title">
      <h5>Assign Lesson</h5>
    </div>
    <div class="widget-content">
      <%= form_tag '/admin/signups', html: { class: "form-horizontal" } do %>
        <%= hidden_field_tag 'user_id', @user.id %>
        <%= select_tag "lesson_id", options_from_collection_for_select(Lesson.all, 'id', 'to_s') %>
        <%= submit_tag %>
      <% end %>
    </div>
  </div>
</div>